<% include header %>
<div class="col-md-10 col-md-offset-1 container-fluid">
	<div class="col-md-12" style="height: 30px;"></div>
	<div class="col-md-11">
        <div class="col-md-11 col-md-offset-1">
            <table class="table table-bordered display" id="dataTables-example" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>姓名</th>
                        <th>年龄</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>            
        </div>
<!--         <div class="col-md-12" style="height: 50px;"></div>
        <div class="col-md-11 col-md-offset-1">
            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert">
                    &times;
                </a>
                <strong>警告！</strong>您的网络连接有问题。
            </div>
        </div>

        <div class="col-md-12">
            <form class="form-horizontal" id="test_form">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="type" name="first_age" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Sign in</button>
                </div>
              </div>
            </form>
        </div> -->
	</div>	
</div>
<% include footer %>