<% include header %>
	<div class="container-fluid">
		<div class="row">
			<!--side-bar-->
			<% include layout %>
			<!--//side-bar-->
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main about-main">
				<div class="services">
					<h3>Our Services</h3>
					<!--service-page-->
					<div class="servcs-page">
						<div class="srvs-row row">
							<div class="col-sm-6 col-md-4 row-grids">
								<div class="srvs-thumbnail thumbnail">
									<a href="#"><img src="images/img12.jpg" alt="img"></a>
									<div class="srvs-caption caption">
										<h4><a href="#">Finibus Bonorum et Malorum</a></h4>
										<p>Lorem Ipsum you need to be sure there isn't anything embarrassing embar rassinghidden</p>		 								
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4 row-grids">
								<div class="srvs-thumbnail thumbnail">
									<a href="#"><img src="images/img13.jpg" alt=""></a>
									<div class="srvs-caption caption">
										<h4><a href="#">Finibus Bonorum et Malorum</a></h4>
										<p>Lorem Ipsum you need to be sure there isn't anything embarrassing embar rassinghidden</p>		 								
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4 row-grids">
								<div class="srvs-thumbnail thumbnail">
									<a href="#"><img src="images/img14.jpg" alt=""></a>
									<div class="srvs-caption caption">
										<h4><a href="#">Finibus Bonorum et Malorum</a></h4>
										<p>Lorem Ipsum you need to be sure there isn't anything embarrassing embar rassinghidden</p>		 								
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4 row-grids">
								<div class="srvs-thumbnail thumbnail">
									<a href="#"><img src="images/img15.jpg" alt="img"></a>
									<div class="srvs-caption caption">
										<h4><a href="#">Finibus Bonorum et Malorum</a></h4>
										<p>Lorem Ipsum you need to be sure there isn't anything embarrassing embar rassinghidden</p>		 								
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4 row-grids">
								<div class="srvs-thumbnail thumbnail">
									<a href="#"><img src="images/img16.jpg" alt=""></a>
									<div class="srvs-caption caption">
										<h4><a href="#">Finibus Bonorum et Malorum</a></h4>
										<p>Lorem Ipsum you need to be sure there isn't anything embarrassing embar rassinghidden</p>		 								
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-4 row-grids">
								<div class="srvs-thumbnail thumbnail">
									<a href="#"><img src="images/img17.jpg" alt=""></a>
									<div class="srvs-caption caption">
										<h4><a href="#">Finibus Bonorum et Malorum</a></h4>
										<p>Lorem Ipsum you need to be sure there isn't anything embarrassing embar rassinghidden</p>		 								
									</div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>	
					<!--//service-page-->
					<div class="services-info">
						<h3>Some of our features</h3>
						<div class="work-grids">
							<div class="col-md-4 resume-grid">
								<div class="resume">
									<span>1</span>
									<img src="images/icon3.png" alt=""/>
									<h4>Bonorum</h4>									
									<h5>Vero accusamus random iusto</h5>
									<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here like readable English. Many desktop publishing packages and default model text.</p>	
									<a class="btn btn-primary" href="#" role="button">Read more</a>
								</div>
								<div class="b-wrapper">
									<span class="b-from-left    b-delay03 ">
										
									</span>					
								</div>
							</div>
							<div class="col-md-4 resume-grid ">																	
								<div class="resume">
									<span>2</span>
									<img src="images/icon4.png" alt=""/>
									<h4>Accusamus</h4>
									<h5>Vero accusamus random iusto</h5>
									<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here like readable English. Many desktop publishing packages and default model text.</p>	
									<a class="btn btn-primary" href="#" role="button">Read more</a>										
								</div>		
							</div>
							<div class="col-md-4 resume-grid">
								<div class="resume">
									<span>3</span>
									<img src="images/icon5.png" alt=""/>
									<h4>Voluptatum</h4>
									<h5>Vero accusamus random iusto</h5>
									<p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here like readable English. Many desktop publishing packages and default model text.</p>	
									<a class="btn btn-primary" href="#" role="button">Read more</a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>					
			<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="js/bootstrap.js"> </script> -->
<% include footer%>