<% include header %>
	<div class="container-fluid">
		<div class="row">
			<!--side-bar-->
			<% include layout %>
			<!--//side-bar-->
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main about-main">
				<!--tesimonial-->
				<div class="tesimonial">			
					<h3>Testimonials</h3>
					<div class="testi-info">
						<div class="testi-left">
							<img src="images/img18.jpg" alt=""/>
						</div>
						<div class="testi-right">
							<p><span>"</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <span>"</span></p>
							<a href="#">Eiusmod</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="testi-info">
						<div class="testi-left testi-lft2">
							<img src="images/img19.jpg" alt=""/>
						</div>
						<div class="testi-right testi-rt2">
							<p><span>"</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <span>"</span></p>
							<a href="#">Adipiscing</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="testi-info">
						<div class="testi-left">
							<img src="images/img20.jpg" alt=""/>
						</div>
						<div class="testi-right">
							<p><span>"</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <span>"</span></p>
							<a href="#">Aliqua</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="testi-info">
						<div class="testi-left testi-lft2">
							<img src="images/img21.jpg" alt=""/>
						</div>
						<div class="testi-right testi-rt2">
							<p><span>"</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <span>"</span></p>
							<a href="#">Consectetur</a>
						</div>
						<div class="clearfix"> </div>
					</div>	
				</div>
				<!--//tesimonial-->	
				<div class="footer">
				</div>
			</div>
			<div class="clearfix"> </div>					
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<% include footer%>